body {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre {
  margin: 0;
}

body.showEditorSelection .code-line {
  position: relative;
}

body.showEditorSelection :not(tr, ul, ol).code-active-line:before,
body.showEditorSelection :not(tr, ul, ol).code-line:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -12px;
  height: 100%;
}

body.showEditorSelection li.code-active-line:before,
body.showEditorSelection li.code-line:hover:before {
  left: -30px;
}
.vscode-dark.showEditorSelection .code-active-line:before {
  border-left: 3px solid rgba(255, 255, 255, 0.4);
}

.vscode-dark.showEditorSelection .code-line:hover:before {
  border-left: 3px solid rgba(255, 255, 255, 0.6);
}
